* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #02040C;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 120px;
}

#header-logo {
    color: white;
    display: flex;
    align-items: center;
}

#header-logo img {
    width: 60px;
}

#header-logo h2{
    font-size: 18px;
    font-family: 'Rethink Sans';
}

header ul {
    display: flex;
    gap: 50px;
    align-items: center;
}


header ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Gilroy';
    padding: 10px;
}

.contact {
    background-color: #FD621F;
    padding: 8px 15px;
    font-weight: 700;
    border-radius: 11px;
}

#banner-comp {
    color: white;
    
}
#banner-background {
    position: absolute;
}

#cris-banner {
    position: absolute;
    top: 0px;
}

#banner-comp h1 {
    position: absolute;
}

#banner-comp h2 {
    position: absolute;
}

#banner-completo {
    width: 1100px;
    margin-left: 5%;
}

#about {
    padding: 180px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about-job {
    color: #FD621F;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 15px;
}

#about-img {
    width: 120px;
}

#about h1 {
    color: white;
    font-family: 'Rethink Sans';
    font-size: 70px;

}

#about p {
    color: white;
    font-family: 'Gilroy';
    width: 50%;
}

#projects-list {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@font-face {
    font-family: 'Rethink Sans';
    src: url('./src/RethinkSans-ExtraBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/Gilroy-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./src/Gilroy-Black.ttf') format('truetype');
    font-weight: 800;
}